.header {
	position:relative;
	margin-top: -20px;
	color:white;
	overflow:hidden;
	height:44px;
	width: 100%;
	z-index: 1;
	min-width:100%;
	background-color: #333339 ;
	background-size:100% 100%;
	//border-radius:8px;
	display:block;
}
#email{
	margin-top:-15px;
	float:left;
	text-transform:capitalize;
	text-decoration:none;
	//padding: 0px 15px 9px 15px;
	border-bottom:none;
	display:inline-block;
	padding:0px;
	color:white;
	font-family:Helvetica,Arial;
}
.menu{
	font-family: Helvetica,Arial;
	position:relative;
	z-index:.5;
	display:inline-block;
	font-size:17px;
	height:44px;  
	text-decoration: none;
	color:#FFFFFF;
	width:100%;
	padding:0;
	letter-spacing:1px;
	//background-color:#333333;
	//border-bottom-right-radius:10px;
	//border-bottom-left-radius:10px;
}
.menu a{
	float:right;
	text-transform:capitalize;
	text-decoration:none;
	padding: 10px 15px 9px 15px;
	border-bottom:none;
	display:inline-block;
	color:white;
}
.menu a:hover{
	background-color:#1F2933;
	color:#E0E0E0;
	border-radius: 10px;
	-webkit-animation:shiftdown 5s infinite;
	animation:shiftdown 2s infinite;
}

.container{
	position:relative;
}
@-webkit-keyframes shiftdown{
	50% {padding-top: 5px;
		 padding-bottom:14px;
		 box-shadow:4px 4px 4px #4C6A89;}
}
@keyframes shiftdown {
	50% {padding-top:5px;
		 padding-bottom:14px;
		 box-shadow:4px 4px 4px #4C6A89;}
}
@-webkit-keyframes shiftright{
	50% {padding-left: 2px;
		 box-shadow: -10px 4px 4px 0px #4C6A89;}
}
@keyframes shiftright{
	50% {padding-left:2px;
		 box-shadow: -10px 4px 4px 0px #4C6A89;}
}
#IT,#Security{
margin-top:-20px;

}

#left{e;
	float:left;
	display:block;
	width:50%;
}
#right{
	float:right;
	display:block;
	width:50%;
}
.Resume{
	float:right;
	position:relative;
	width: 88%;
	margin-top:5px;
	margin-left: 6px;
	margin-bottom: 15px;
	font-family: Verdana, Arial;
	color:#FFFFFF;
}

.Resume-Sidebar{
	float:left;
	position:relative;
}
.side-nav{
	font-family:Tahoma, Arial, sans-serif;
    position:relative;
    left: 0px; 
    top:92px; 
    bottom: 0;
    width: 178px;
   	height:100px;
    margin-top: -40px;
    margin-left:20px;
    background: #333333;
    border-right: 4px solid #1b9bff;
    border-radius:3px;
	color:white;
	overflow:hidden;
}
.side-nav a{
	padding:15px 20px;
	display:block;
	height:20%;
	color:white;
	text-decoration: none;
	text-indent:20px;
	opacity:.3;
}
.side-nav a:hover{
	background-color:#1b9bff;
	color:#E0E0E0;
	//border-radius: 10px;
	-webkit-animation:shiftright 5s infinite;
	animation:shiftright 2s infinite;
	opacity:1;
}
#about-container{
	background:rgba(49,49,49,.4);
	width:100%;
	display:inline-block;
	border-top-left-radius: 5px;
	border-top-right-radius:5px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius:8px; 
}
html{
 	//background: linear-gradient( rgba(50,50,50,.8), rgba(150,150,150,.8)),url(test3.jpg) no-repeat center center fixed; 
 	background:url(test3.jpg) no-repeat center center fixed;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	z-index:-5;
}
.About{
	float:right;
	position:relative;
	width: 88%;
	margin-top:5px;
	margin-left: 6px;
	margin-bottom: 15px;
	font-family: Verdana, Arial;
	color:#FFFFFF;

}
.Projects{
	float:right;
	position:relative;
	width: 88%;
	margin-top:5px;
	margin-left: 6px;
	margin-bottom: 15px;
	font-family: Verdana, Arial;
	color:#FFFFFF;
}